@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #080f0a;
  --accent: #c8a96e;
  --accent-dim: #5a4520;
  --text: #f0ede6;
  --text-sub: #6a7a6a;
  --text-dim: #1a2a1a;
  --text-ghost: #0e1a0f;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "DM Sans", sans-serif;
}
